# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
package-lock.json
src/backend/restaurante.db
src/backend/imagens
src/backend/testes
.logs_php_tmp.txt
.logs_react_tmp.txt
/.pnp
.pnp.js
.env
tarefas
tmp
# testing
/coverage

# production
#/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
/.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
