
 #conteudo {
   background-color: #fff;
   border: none;
   border-radius: 0 0 7px 7px;
   width: 100%;
   margin-bottom: 7%;
   z-index: 1;
   align-items: center;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   position: sticky;
   top: 0;
   box-shadow: 1px 2px 6px -2px black;
   overflow: hidden;
   transition-duration: .2s;
}

 .esconder_menu {
   height: 6.3vh;
}

 .mostrar_menu {
   height: 14vh;
}

 #conteudo .section1 {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   width: 100%;
}

 #conteudo .section2 {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   height: 16vh;
   padding-top: 2.3%;
   border-top: solid 1px black;
}

 #conteudo .section1 button {
   margin-top: 1.9%;
   font-weight: 500;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   width: 30%;
   padding-left: 4%;
}

 #conteudo .section1 button img {
   height: auto;
   width: 23%;
}

 #conteudo .section2 button {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

 #lixeira_img {
   background-color: white;
   padding: .7%;
}

 #conteudo button {
   font-size: 4.5vw;
   border: none;
   border-radius: 8px;
   box-shadow: 2px 1px 5px -1px black;
   width: 36%;
   height: 70%;
   margin-right: 3.4%;
   background-color: #B33A00;
   color: #fff;
}

 #conteudo button:active {
   background-color: #245468;
   color: white;
}

 #conteudo button img {
   width: 12%;
   height: auto;
}

 #conteudo p {
   display: block;
   margin-left: 2.3%;
   font-size: 4.5vw;
   text-overflow: ellipsis;
   width: 50%;
   overflow-x: auto;
   white-space: nowrap;
   scrollbar-width: none;
}

 #conteudo p::-webkit-scrollbar {
   display: none;
}





 @media screen and (min-width: 900px) {

   #conteudo {
     width: 100%;
     padding: 0;
     border-width: 4px;
     border-style: solid;
     border-color: black;
  }

   .esconder_menu {
     height: 3.9vh;
  }

   .mostrar_menu {
     height: 10vh;
  }

   #conteudo section button img {
     width: 6%;
  }

   #conteudo .section2 button {
     height: 40%;
  }

   #contaImg {
     width: 30%;
  }

   #conteudo section :is(p, button) {
     font-size: 2.4vw;
  }

   hr {
     width: 98%;
  }
}
