 body {
  margin: 0;
  padding: 0;
}

 .header97 {
  font-family: "arial", "sans-serif";
  background-image: linear-gradient(to bottom, #4DA0C2 67%, #3E92B4);
  display: flex;
  flex-direction: column;
  box-shadow: 2px 3px 6px -2px black;  
  border-radius: 0 0 3.4% 4.4%;
  margin-bottom: 4.6vh;
  padding: 1.2% 1.2%;
}

 .header97 .section1 {
  padding: .7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

 .header97 .section1 button {
  border: none;
  font-size: 4.7vw;
  border-radius: 6px;
  padding:0 1.4% 0 1.4%;
  font-weight: 500;
  background-color: #ffffff;

}

 .header97 .section2 {
  text-align: center;
  overflow-wrap: break-word;
}

 .header97 h1 {
  font-size: 10.6vw;
  background-color: white;
  color: #FD5A11;
  box-shadow: 1px 2px 6px -3px black;
  border-radius: 8px;
}

.header97 img {
  width: 90%;
  height: auto;
  border-radius: 4%;
  box-shadow: 1px 1px 8px -4px black;
}

 .main97 {
  font-family: "arial", "sans-serif";
  margin: 0;
  margin-top: 20px;
  border-radius: 3.4%;
  box-shadow: 1px 2px 6px -2px black;
  padding: 0 1.3% 0 1.3%;
  min-height: 69.4vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 4.3vw;
  background-image: linear-gradient(to bottom, #3E92B4 67%, #4DA0C2);
}

 .main97 section {
  background-color: white;
  border-radius: 7px;
  box-shadow: 1px 2px 9px -4px black;
  padding: 0 2.3%;
}

 .main97 section p {
  font-weight: 700;
  color: #F21600;
}

 .main97 section span {
  font-weight: 700;
  color: black;
}

.main97 section h2 {
  color: #FD5A11;
}

 #sh {
  background-color: none;
  text-align: center;
  font-size: 4.4vw;
}
 
.section1 button {
 width: 20%;
 height: auto;
}

 .section1 button img {
 max-width: 100%;
 height: auto;
}

  .header97 .section1 .botaoDeOpcoes {
  background-color: #4DA0C2;
}

  .header97 .section1 .botaoVoltar {
  height: 100%;
  padding: 2%;
  font-size: 6vw;
  color: black;
  box-shadow: 1px 2px 4px -4px black;
  border-radius: 7px 7px 7px 7px;
  transition-duration: 0.03s;
}

  .header97 .section1 .botaoVoltar:active {
    background-color: #C4E0EB;
}












 @media screen and (min-width: 900px) {

  #corpo {
    width: 90%;
    margin-left: 4%;
 }

  #corpo main {
    display: grid;
    border-radius: 13px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 4%;
    row-gap: 6%;
    padding: 4%;
    padding-bottom: 9%;
    grid-template-areas: 
      'h2 h2'
      'preco categoria'
      'descricao descricao'
      'ingredientes restricoes'
    ;
 }

  #sectionPreco {
    grid-area: preco;
 }

  #sectionDescricao {
    grid-area: descricao;
 }

  #sectionCategoria {
    grid-area: categoria;
 }

  #sectionIngredientes {
    grid-area: ingredientes;
 }

  #sectionRestricoes {
    grid-area: restricoes;
 }

  .header97 .section1 .botaoVoltar {
    font-size: 1.5vw;
 }

  .header97 .section1 button {
    width: 9%;
 }

  #sh {
    font-size: 3.5vw;
    grid-area: h2;
 }

  #sh h2 {
    font-size: 2.9vw;
 }

  .main97 section p {
    font-size: 2vw;
 }

  #h1 {
    font-size: 4vw;
 }

  .header97 .section2 img {
    width: 20%;
 }

  .header97 .section2 img:hover {
    transform: scale(1.2);
    transition-duration: .09s;
 }

}
